<li>
	{{burger_name}}

	<button class="change-consumed" data-id="{{id}}" data-consumed="{{consumed}}">
		{{#if consumed}}CONSUMED!{{else}}ACQUIRE BURGER!{{/if}}
	</button>
	 <button class="delete-burger" data-id="{{id}}">Delete</button>
</li>